html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

label{
	display: block;
	cursor: pointer;
}

input + label{
	display: inline;
}

input{
	border: 3px solid blue;
	background-color: green;
	border-radius: 1px;
	font-size: 2rem;
	padding: 1em;

}

button{
	border: 3px solid limegreen;
	background-image: linear-gradient(blue, darkblue);
	font-size: 2rem;
	padding: 2em;
	border-radius: 10px;
	cursor: pointer;
}